.heading{
    text-align: center;
    color: orangered;

}

.img-ad{
    width: 150px;
    height: 70px;
    display: block;
   margin-left:20px;
   margin-top: 20px;

    

}
.admin-left-field{
  margin-top: 80px;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border-bottom:1px solid black ; */
  /* background: #000; */
}

.admin-left-div:hover{
  background-color: orangered;
  transition: 0.8s;

  
}

.admin-left-div{
 
  /* border: none !important; */
  padding: 5px 0;
}




.order{
  background-color: aquamarine;
}


.img-con-ad{
    float: right;
    margin: 30px ;
    margin-right:120px
  
}



.input{
    margin-left: 100px ;
    margin-top: 50px;
    border: 2px solid orangered;
    border-radius: 7px;
}

.ad-table {
    /* margin-left: 90px; */
    width: 100%;
  
   /* border-top: 2px solid black; */
}

.plus-btn{
  cursor: pointer;

}
.plus-btn:hover{
  color: orangered;
  
}

.head-row{
  border-top: 3px solid black ;
  border-bottom: 3px solid black ;
  line-height: 35px;
  background: orangered;
  color: white;
}

.sec-head{
  border-top: 1px solid black ;
  border-bottom: 1px solid black ;
  line-height: 15px;
}


 
.pagination {
  display: inline-block;
  margin-top: 20px;
  float: right;
  position: sticky;
  bottom: 10px;
  right: 50px;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination button {
  background-color: #fff;
  color: orangered;
  border: 1px solid orangered;
  border-radius: 5px;
  padding: 5px 10px;
}

.pagination button:hover {
  background-color: orangered;
  color: #fff;
}

.pagination .active button {
  background-color: orangered;
  color: #fff;
  border: 1px solid orangered;
}


.view-img{
  width: 25px;
  
}


.view-img:hover{
  color:  orangered;
  cursor: pointer;
}


.form-link{
  position: absolute;
  top:20px;
  padding: 8px;
  border: 2px solid black;
  text-decoration: none;
   /* background-color: ; */
  border-radius: 8px;
  right: 80px;

}
.form-link-2{
  position: absolute;
  top:20px;
  padding: 8px;
  border: 2px solid black;
  text-decoration: none;
   /* background-color: ; */
  border-radius: 8px;
  left : 80px;

}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  color: orangered;
}

.logout{
  position: absolute;
  top:10px;
  padding: 3px 20px;
  padding-bottom: 2px;
  cursor: pointer;
 
  border-radius: 8px;
  right: 10px;
}

.admin-left{
  border: 1px solid black;
  border-radius: 20px;

}





@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

/* .main-header{
  position: relative;
  top:200px
}
 */

.input{
  width: 165px !important;
}

/* .main-header{
  position: relative;
  top:130px;
  margin-bottom:50px ;
} */
.form-link{
  font-size: 12px;
}

.header-div{
  margin-top: 100px;
}

.img-con-ad{
  margin: 0px 100px 0px 0px !important;
  margin-left: 10px !important;
}

.flex-1{
  display: flex;
  flex-direction: column;
}





}